{% extends 'index.html' %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

<div class="container">  
    <br>
    <div class="container">  
        <video width="320" height="240" autoplay playsinline muted id="video"></video>
        <br><br>
        <button type="button" class="btn btn-primary" id="pred_button" onclick="predict()">예측</button>
        <br><br>
        <div id="prediction"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/mobilenet@1.0.0"> </script>

<script type="text/javascript">

    let webcam, model;

    async function app() {
        model = await mobilenet.load();
        webcam = await tf.data.webcam(video, {
            resizeWidth: 224,
            resizeHeight: 224,
        });
    }

    async function predict() {
        const image = await webcam.capture();
        result = await model.classify(image);
        document.getElementById("prediction").innerText = `
            prediction: ${result[0].className}\n
            probability: ${result[0].probability}
        `;
    }

    app();
    
</script>

{% endblock %}
